nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}


/* Contact Form */
.contact-form {
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.contact-form h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

.contact-form textarea {
  height: 150px;
}

.contact-form input[type="submit"] {
  background-color: #ff4500;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
  background-color: #ff5722;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

footer a:hover {
  color: #ff5722;
}

.social-media img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
